<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="box">
        <div id="resume">
            <h1>Rock Okechukwu</h1>
            <div class="section">
                <h2>Professional Summary</h2>
                <p>Dedicated and experienced in the installation and maintenance of computer hardware systems and software, analog and
                    digital diagnostic and repair techniques. Possesses excellent time management and organizational skills
                </p>
            </div>

            <div class="section">
                <h2>skills Highligts</h2>
                <ul>
                    <li>Perfect knowledge of computer hardware/Ability to build one from scratch.</li>
                    <li>Good knowledge of Windows and Linux operating system</li>
                    <li>Intermediate knowledge of the following programming language: Python, Kotlin, Java, C, C++</li>
                    <li>Good knowledge of Microsoft Office suite (MS Word & MS Excel)</li>
                    <li>Embedded system, web and android developer</li>
                    <li>Surveys, Editing, transcribing and proofreading skills</li>
                </ul>
            </div>

            <div class="section">
                <h2>Professional experience</h2>
                <ul>
                    <li>
                        <div class="heading"></div>
                        <ul>
                            <li></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="section">
                <h2>Education</h2>
            </div>

            <div class="section">
                <h2>Additional education</h2>
            </div>

            <div class="section"><h2>
                voluteer work experience
            </h2></div>

        </div>
    </div>
    <div>
        <div>Contact Me</div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            Name: <input type="text" name="name"><br>
            Email: <input type="email" name="email"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>