<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="./assets/apple-icon-180x180.png">
  <link href="./assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="./main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

  <style>
    p#zurilogo {
      position: fixed;
      left: 0;
      top: 10%;
      float: left;
      width: 180px;
      z-index: 10;
    }
    .logo img {
      width: 50px;
      height: 50px;
      margin: 5px;
      border: 1px solid #ccc;
    }
  </style>

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Rock Okechukwu</h1>
      <p>A software Developer</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
          <i class="fa fa-twitter"></i>
        </a>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/rock-okechukwu-1714941a6/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="./assets/images/img-1.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>I have always wanted to use technology to improve learning. on the side, I am working on a project that uses Artificial
              intelligence and augmented reality to solve the problem of object visualization and interaction with the environment.
              some of my interests include visualizing mathematical concepts and problems.</p>
              <p>I love efficient code that solves complex problems and so far I have been working on backend stuff and also embedded
              technology especially cortex-m microcontrollers</p>
              <p> My best-known work includes an android app that displays covid-19 heatmap using data from the WHO Github repo. Although
              not on Playstore due to Google's Playstore policies for Covid-19 apps.</p>
              <p>In the past 5 years, I have worked at least with the following programming language: C/C++, Python, Kotlin, Golang,
              Javascript, Java</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">Python</small>
                  <h3 class="h5 date-title">Google cloud function script</h3>
                  <p>A python script hosted on google cloud function for fetching covid-19 data from WHO daily <a href="">github repo</a></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">Native Android, kotlin, java, xml</small>
                  <h3 class="h5 date-title">Covid-19 heatmap visualizer</h3>
                  <p>A worldwide covid-19 heatmap for Android <a href="">github repo</a></p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">python flask</small>
                  <h3 class="h5 date-title">Covid-19 data api endpoint</h3>
                  <p>An backend server that exposes an API endpoint (in JSON) hosted on Google AppEngine. 
                    <a href="">github repo</a>
                  </p>
                </div>
              </div>
              
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work</h2>
            <div class="work-experience">
              <small class="date">JUNE 2021 - PRESENT</small>
              <h3 class="h5 date-title">Remote - Amazon search Relevance Evaluator (independent contractor) - <a href="https://toloka.yandex.com" title="Create professionnal website">Toloka</a></h3>
              

              <p>Check for relevant search result from a search query on Amazon product page, <br>
              Label search result based on a search query as exact substitute complementary or unjudgeable.</p>
            </div>

            <div class="work-experience">
              <small class="date">AUGUST 2020 - DECEMBER 2020</small>
              <h3 class="h5 date-title">Web developer - <a href="https://codegeek.xyz" title="">codegeekxyz.xyz</a></h3>
              
              <p>Built and launched a website for tracking learners progress which improved learners' engagement. <br>
              Co-founded the first programming learning platform within the city I was residing.</p>
            </div>
            <div class="work-experience">
              <small class="date">JUNE 2018 - APRIL 2020</small>
              <h3 class="h5 date-title">IT support technician - <a href="#" title="">Maphix computers repair</a></h3>
            
              <p>Improved customer reach by introducing remote software/pc troubleshooting.</p>
            </div>
            <div class="work-experience">
              <small class="date">OCTOBER 2013 - MAY 2018</small>
              <h3 class="h5 date-title">Mathematics class Teacher - <a href="#" title="">Bright Future Academy</a></h3>
            
              <p>Increased student performance and interest in mathematics by more than 32%</p>
            </div>
            <div class="work-experience">
              <small class="date">DECEMBER 2010 - MARCH 2011</small>
              <h3 class="h5 date-title">Industrial trainee technician - <a href="#" title="">Akwa Ibom Broadcasting corporation</a></h3>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">FEBRUARY 2020</small>
                  <h3 class="h5 date-title">professionnal Certificate in C programming and Linux</h3>
                  <p>Dartmouth_IMTx</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2009-2011</small>
                  <h3 class="h5 date-title">Electrical electronic Engineering technlogy (ND)</h3>
                  <p>Akanu Ibiam Federal Polytechnic,</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2018-PRESENT</small>
                  <h3 class="h5 date-title">Mathematics and computer science</h3>
                  <p>National open University of Nigeria</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Hobbies</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Football (soccer)  <small>pickupgames</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Console Gaming  <small>COD</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Photography  <small>Beginner</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://twitter.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-twitter"></i></span>@Golangrocks</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/rock-okechukwu-1714941a6/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-linkedin"></i></span>Rock Okechukwu</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://facebook.com/" title=""><span class="social-round-icon fa-icon"><i class="fa fa-facebook"></i></span>Rock Okechukwu</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact</h2>
            <form action="/submit_form" method="post" class="reveal-content">
              <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject" name="subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Enter your message" name="message"></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="./assets/images/mashup-icon.svg" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p id="zurilogo">
          <a class="logo" href="https://hng.tech/" title="">
            <img src="./assets/images/hnglogo.png" alt="hng logo">
          </a>
          <a class="logo" href="https://training.zuri.team/" title="">
            <img src="./assets/images/zurilogo.png" alt="zuri logo">
          </a>
          <a class="logo" href="https://ingressive.org/" title="">
            <img src="./assets/images/I4G-Icon-Color-985x1024.png" alt="I4G-Icon logo">
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="./main.bc58148c.js"></script></body>

</html>